<h1>Justice League Chat</h1>


<%= render partial: 'form', locals: { message: @message, user: { id: 1, name: 'Batman' }} %>
<%= render partial: 'form', locals: { message: @message, user: { id: 2, name: 'Superman' }} %>

<div id="messages">
  <%- @messages.each do |message| %>
    <%= message.formatted %>
  <%- end %>
</div>
