<div class='row'>
  <div class='col-sm-12 col-md-5 offset-md-4'>
    <h1 class='text-center'>Justice League Chat</h1>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 col-md-4'>
    <%- @users.each do |user| %>
    <div class='card mb-3'>
      <h5 class="card-header"><%= user.username%></h5>
      <div class='card-body'>
        <%= render partial: 'form', locals: { message: @message, user_id: user.id } %>
      </div>
    </div>
    <%- end %>
  </div>

  <div id='messages' class='col-sm-12 col-md-8'>
    <div class='card'>
      <div class='card-body'>
        <%- @messages.each do |message| %>
          <%= message.formatted %>
        <%- end %>
      </div>
    </div>
  </div>
</div>
